<div>
    <h2 class="m-5">Portfolio</h2>
    <div class="container my-5">
        <div class="row">
          <!-- First Card - Light Blue -->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card custom-light-grey-bg" style="width: auto;height: 10rem;">
              <div class="card-body d-flex justify-content-center align-items-center">
                <h5 class="card-title">WEB DESIGN</h5>
              </div>
            </div>
          </div>
    
          <!-- Second Card - Light Green -->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card custom-dark-grey-bg" style="width: auto;height: 10rem;">
                <div class="card-body d-flex justify-content-center align-items-center">
                <h5 class="card-title">MOBILE DESIGN</h5>
              </div>
            </div>
          </div>
    
          <!-- Third Card - Light Orange -->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card custom-light-grey-bg" style="width: auto;height: 10rem;">
                <div class="card-body d-flex justify-content-center align-items-center">
                <h5 class="card-title">LOGO DESIGN</h5>
              </div>
            </div>
          </div>
    
          <!-- Fourth Card - Light Blue -->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card custom-dark-grey-bg" style="width: auto;height: 10rem;">
                <div class="card-body d-flex justify-content-center align-items-center">
                <h5 class="card-title">WEB APPLICATION DEVELOPMENT</h5>
              </div>
            </div>
          </div>
    
          <!-- Fifth Card - Light Green -->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card custom-light-grey-bg" style="width: auto;height: 10rem;">
                <div class="card-body d-flex justify-content-center align-items-center">
                <h5 class="card-title">MOBILE APPLICATION DEVELOPMENT</h5>
              </div>
            </div>
          </div>
    
          <!-- Sixth Card - Light Orange -->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card custom-dark-grey-bg" style="width: auto;height: 10rem;">
                <div class="card-body d-flex justify-content-center align-items-center">
                <h5 class="card-title">PWA DEVELOPMENT</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>