
.bg-image {
    background-image: url('../../assets/free.jpg');  
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    align-items: center; 
  }
  .text-overlay {
    text-align: center; 
    color: white; 
    background-color: rgba(145, 129, 129, 0.5); 
    padding: 20px;
    margin-left:500px ;
  }