<div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <h2>About Me</h2>
      </div>
      <div class="col-md-6">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe fuga nostrum qui voluptatum dolor voluptatibus ipsa et sunt sint ipsum quos, inventore tempora, laborum hic neque. Vero error atque saepe.
          Velit porro laborum, voluptas totam minus neque veniam dolor quibusdam eum, soluta, maxime saepe. Earum fugiat minima voluptas enim? Tempora culpa ipsa cumque soluta molestias numquam incidunt dolorum nisi eum!
          Enim ea animi ipsa sit, corporis consequuntur quasi cumque quidem in rem iste fugiat labore eum consectetur deleniti odit suscipit veritatis quod accusantium omnis iure necessitatibus voluptatum? Modi, enim sint!
          Ratione quos distinctio in voluptates tempora aperiam modi molestias, fuga quidem! Ipsam molestias a tenetur inventore dolores tempora impedit. Distinctio ducimus sequi eveniet voluptatem quis aliquid sint odio atque quisquam!
          Impedit soluta cumque et sint facere totam repudiandae laudantium consectetur voluptatem incidunt sapiente exercitationem voluptatum modi veniam, eveniet nemo deserunt laborum tempore laboriosam consequuntur? Quia aspernatur non ullam repellat a?
        </p>
        <a href="../../assets/free.jpg" class="btn btn-primary custom-button" download>Download Resume</a>
      </div>
    </div>
  </div>
  