<footer class="footer">
    <div class="container">
      <div class="row">
      
        <div class="col-md-4">
          <div class="vertical-center">
            
            <div class="contact-info">
                <h4 class="mb-4">GET IN TOUCH</h4>
              <p ><i class="fas fa-envelope"></i> ahmedmohamed7sayed@gmail.com</p>
              <p><i class="fas fa-phone"></i> 01116621010</p>
            </div>
          </div>
        </div>
  
      
        <div class="col-md-4">
          <div class="vertical-center">
            <button class="btn contact-button">CONTACT ME</button>
          </div>
        </div>
  
     
        <div class="col-md-4">
            <div class="vertical-center">
              <div>
                <a class="m-2" style="font-size: 20pt;" href="#"><i class="fab fa-linkedin"></i></a>
                <a class="m-2" style="font-size: 20pt;" href="#"><i class="fab fa-facebook"></i></a>
                <a class="m-2" style="font-size: 20pt;" href="#"><i class="fab fa-twitter"></i></a>
                <br>
                <p class="copyright-text">&copy; Ahmed Mohamed Sayed Mohamed</p>
              </div>
              
            </div>
          </div>
      </div>
    </div>
  </footer>